*{
	text-decoration: none;
	
}


#name{
	margin: 50px;
}

#pic{
	width: 30%;
}

header{
	background-image: url("12.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#sig{
	width: 30%;
}


@media only screen and (max-width: 768px) {
    .object{
        font-size: 40px;
    }

    .ter{
        font-size: 20px;
    }
    .bs{
        font-size: 14px;
    }
    .p{
        font-size: 11px;
    }
  .pp{
        font-size: 25px;
    }

    .pc{
        font-size: 13px;
    }

	#pic{
		width: 60%;
	}
  }
  
  /* screen size 375px */
  
  @media only screen and (max-width: 375px) {
    .object{
        font-size: 30px;
    }

    #boxi img{
  
        width: 30px;
        margin: 50px 20px ;
        
       
    }
	#pic{
		width: 60%;
	}
  }
  
  @media only screen and (max-width: 320px) {
   

  }
  